torch==2.1.1
h5py==3.10.0
mlflow==2.6.0
tqdm==4.65.0
scikit-learn==1.2.2
torchvision==0.16.1
torchaudio==2.1.1
numpy==1.26.2
pandas==2.1.1
matplotlib==3.8.2
torchinfo==1.7.2
pandas==2.1.1
git+https://github.com/nicholas-carlotti/torch-scan
opencv-python==4.9.0.80
